*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body, #root{
    height: 100%;
}

.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
    max-width: 600px;
    height: 600px;
    margin: auto;
    background-color: #333;
    /* gap: 20px; */
}

.grid-container div{
    color: white;
    display: grid;
    place-items: center;
    height: calc(580px / 8);
}

.chess_piece{
    width: 30px;
    height: 50px;
}